@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* background: #222; */
  background-image: url("./images/bgs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  border-radius: 20px;
  margin: 10px auto 0;
  padding: 40px 35px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 18px;
  margin-right: 16px;
  flex: 1;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
}
.search button img {
  width: 30px;
  justify-content: center;
  margin-top: 8px;
}

.weather-icon {
  width: 170px;
  margin: 30px 0;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
  align-items: center;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
@media (max-width: 600px) {
  .card {
    width: 100%;
    padding: 15px 20px;
  }
  .search {
    gap: 10px;
        width: 100%;

    flex-direction: column;
  }
  .weather h1 {
    font-size: 60px;
  }
  .weather h2 {
    font-size: 35px;
  }
  .details {
    flex-direction: column;
    gap: 20px;
  }
}

.error {
  /* display: none; */
  text-align: center;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}
